<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Convite para o IOMS</title>
</head>
<body>
    <p>Olá {{firstName}},</p>
    <p>Você foi convidado para se juntar ao IOMS como {{role}}.</p>
    <p>Clique no link abaixo para completar seu cadastro:</p>
    <p><a href="{{invitationLink}}">{{invitationLink}}</a></p>
    <p>Este link expira em 24 horas.</p>
    <p>Caso não tenha solicitado este convite, por favor ignore este e-mail.</p>
    <br>
    <p>Atenciosamente,</p>
    <p>Equipe IOMS</p>
    <p>Suporte: <a href="mailto:{{supportEmail}}">{{supportEmail}}</a></p>
</body>
</html>